html{
    font-family: IBM Plex Mono;
}

.container {
    position: relative;
    padding: 50px;
    min-height: 400px;
}

.container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    top: 50%;
    left: 0;
}

.container::before {
    top: 0;
}

.container::before {
    top: auto;
    bottom: 0;
}

.container::before {
    height: 5px;
}

.container::before {
    background: linear-gradient(to right, purple, blue);
}
.container::after {
    top: 0;
}

footer {
    position: relative;
    padding: 50px 20px;
}

footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, purple, blue, purple);
    top: 0;
    left: 0;
}

footer::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    bottom: 0;
    left: 0;
}

footer::before {
    background: linear-gradient(to right, purple, blue);
    top: 0;
}

footer::after {
    background: linear-gradient(to left, purple, blue);
    bottom: 0;
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    bottom: 0;
    left: 0;
}

section::before {
    background: linear-gradient(to right, purple, blue);
    top: 0;
}

section::after {
    background: linear-gradient(to left, purple, blue);
    bottom: 0;
}
